body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  font-family: sans-serif;
}
.container {
  width: 87vw;
}

.header {
  padding: 9px 10px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub1 {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.main-title {
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
}
.sub2 {
  margin-right: 20px;
  position: relative;
  width: 200px;
  cursor: pointer;
}
.sub1 i {
  margin-top: 12px;
}

.right {
  display: flex;
  flex-direction: row;
}

.right h1 {
  font-size: 17px;
  font-weight: bold;
}

.sub2 .right > i {
  margin-top: 12px;
  margin-right: 12px;
}

.dropdown {
  background-color: #fff;
  position: absolute;
  width: 70%;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-radius: 3px;

  display: none;
  border: #575a5d solid 1px;
  border-top: none;
}

.sub2:hover .dropdown {
  display: flex;
}

.dropdown i {
  margin-right: 10px;
  color: black;
}

.dropdown a {
  text-decoration: none;
  color: #575a5d;
}

.content {
  background: #f4f6f9;
  margin-top: 0;
  padding-left: 20px;
  height: 93.6vh;
}

.content .title {
  font-weight: 200;
  font-size: 27px;
  margin: 0;
  padding: 30px 10px;
  border-bottom: 1px solid #007bff;
  width: 96%;
}

.content .welcome {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 10px;
  width: 97%;
}

/* End of Content  */

/* Start of sidebar */

.sidebar {
  height: 100vh;
  background-color: #343a40;
  flex-basis: 250px;
}

.sidebar .side-title {
  font-size: 27px;
  text-align: center;
  color: #d6d8d9;
}

.sidebar .side-title:hover {
  color: white;
}

.list-items {
  color: #b0b6bf;
  font-weight: 600;
  font-size: 14px;
}

.list-items p {
  margin: 0;
}

.flex-icon {
  display: flex;
  align-items: center;
  padding: 15px 40px;
}

.sidebar .list-items > .flex-icon:first-child {
  background-color: #007bff;
}

.list-items .flex-icon .color-white {
  color: white;
}

.flex-icon i {
  margin-right: 10px;
}

.flex-icon a {
  text-decoration: none;
  color: #b0b6bf;
}

.flex-icon:hover {
  background-color: #6c757d;
  color: white;
}

.flex-icon a:hover {
  color: white;
}

.sub-list .flex-icon {
  padding-left: 60px;
}
